@charset "utf-8";
/*css document*/

@media screen and (max-width: 1600px) {
    body{
       background-color: lightgray;
       
    }
.container{
   padding: 0 5px;
   box-sizing: border-box;       
}

    
 
   
    
    
 

